body{
    background-color: #BBD6B8;
}

h2{
    color: #B46060;
}
li h3{
    color: #569DAA;
}
.list{
    color: #569DAA;
}
p{
    color: black;
}

img{
    height: 300px;
    width: 300px;
}
